@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <a class="btn btn-danger" asp-action="Waehlen">Wählen<br />gehen</a>
    <a class="btn btn-success" asp-action="Auswertung">Vorläufige<br />Auswertung </a>
    <br />
    <img width="200" height="200" src="~/BQ-FL-02-020.png" alt="Alternate Text" />
    <p>Learn about <a href="https://www.land.nrw/">Hier gehts zum Land</a>.</p>
</div>
