@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Dieser Wahlomat ist keine offizielle Wahl-Software<br />
<h2 class="text-danger">Herr Stolz übernimmt die volle Haftung</h2></p>
